body {
    max-width: 1200px;
    background: white;
                
}

header{
    background: midnightblue;
    display: flex;
    padding: 20px;
    justify-content: space-between;
    gap: 20px;
    border: 20px solid black;
       
}
.logo{
    background: lightcoral;
    width: 20%;
    padding:10px;
  
}
nav{
    background: lightcoral;
    width: 60%;
    padding:10px;
  
}
.social{
    background: lightcoral;
    width: 20%;
    padding:10px;
   
}

.banner{
    background: yellow;
    font-size: 30px;
    font-weight: bold;
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;
    border: 20px solid orange;
    outline: 20px solid black;
    margin-bottom: 40px;

}

.section-aside.wrapper{
    display: flex;
    background: black;
    padding: 20px;
    gap: 20px;
    
}

section{
    background: darkslateblue;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    width: 80%;
    padding: 20px;
    
}

article{
    background: cornflowerblue;
    width: 46%;
    padding: 10px;
    
}
.navegacion{
    background: cadetblue;
    width: 100%;
    padding: 10px;
    
}

aside{
    background: crimson ;
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 20%;
    gap: 10px;

}

.ad{
    background: gold;
    justify-content: space-between;
    width: 85%;
    padding: 10px;
   
}

footer{
    background: lightgoldenrodyellow;
    margin-top: 20px;
    padding: 10px;
    border: 20px solid black;
}

@media screen and (max-width: 600px) {

    header {
        flex-direction: column;
        gap: 10px;
    }

    .logo {
        width: 95%;
    }

    nav {
        width: 95%;
    }

    .social {
        width: 95%;
    }

    .section-aside.wrapper {
        flex-direction: column;
    }

    section, aside {
        width: 90%;
    }

    article {
        width: 95%;
    }

    aside {
        flex-direction: column;
    }

    .ad {
        width: 95%;
    }
}
